body {
    background-color: #333;
    color: #EEE;
    width: 500px;
    margin: 0 auto;
}



p {
    background-color: rgb(207 232 220);
    border: 2px solid rgb(79 185 227);
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    color: #333;
}

nav {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #333;
    width: 100%;
} 

ul {
    list-style-type: none;
    }

li {
    display: inline-block;
    width: 100px;
    text-align: center;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    border-radius: 20%;
    margin-left: 1rem;
}

li:hover {
    border-bottom: 3px solid gray;
    border-right: 3px solid gray;
}

.active-link {
    border-bottom: 3px solid #b7deb5;
    border-right: 3px solid #b7deb5;
}

a {
    color: #EEE;
    text-decoration: none;
}

.buffer {
    height: 10vh;
}


.positioned {
    background: rgb(255 84 104 / 30%);
    border: 2px solid rgb(255 84 104);
    color: #EEE;
}

.relative {
    position: relative;
    top: 30px;
    left: 30px;
}

.absolute {
    position: absolute;
    top: 30px;
    left: 30px;
}

.fixed {
    position: fixed;
    top: 300px;
    left: 300px;
}

.sticky {
    position: sticky;
    top: 30px;
}